@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
body{
    font-family: 'Open sans', sans-serif;
    height: fit-content;
    width: 100%;
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 46px;
    left: 0px;
    top: 0px;
    background: #772D8B;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.head1{
    color: #FFC42D;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    padding: 0 1%;
    margin: 0;
}
.head2{
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    padding: 0 15px;
    margin: 0;
}
.headertxt{
    width: 35%;
    /* height: 18px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    width: 7%;
    padding: 1%;
    margin: 0 5px;
}
.section1{
    top: -5px;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    height: 79px;
    background: rgba(0, 0, 0, 0.26);
    justify-content: space-between;
}
button{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    position: relative;
    justify-self: end;
    background: #EE2B7A;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
    padding: 10px;
}
button:hover{
    cursor: pointer;
}
button:active{
    border: none ;
    background: #ec0d67;
}
.section1txt1{
    position: relative;
    /* height: 18px; */
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0;
}
.pt2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    padding: 0 2%;
}
.pt1{
    display: flex;
    flex-direction: row;
    width: 30%;
}
.pt1txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}
#needhelp{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 0;
    /* margin-bottom: 7px; */
}
#number{
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    color: #FFC42D;
    margin: 0;
}
.login{
    background-image: url(background.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.section2{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}
.caption{
    position: relative;
    width: 50%;
    height: fit-content;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 154.7%;
    color: #FFFFFF;
}
.caption > h1{
    font-weight: 100;
    margin: 0;
    font-size: 66px;
}
.loginbox{
    position: relative;
    width: fit-content;
    height: 365px;
    display: flex;
    flex-direction: column;
    background: rgba(55, 55, 55, 0.79);
    border-radius: 5px;
    padding: 35px;
    justify-content: center;
    align-items: center;
}
.loginboxlbl{
    width: 100%;
    height: 28px;
    top: 18px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 154.7%;
    color: #FFFFFF;
}
.username{
    width: 100%;
    border: none;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    padding: 15px 0;
    padding-left: 19px;
    margin: 15px 0;
}       
#loginboxpw{
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    padding: 15px 0 15px 19px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 15px;
}
#newpw{
    width: 99px;
    height: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #EE2B7A;
    margin-left: 53%;
    margin-bottom: 15px;
    text-decoration: none;
}
#submit{
    width: 267px;
    height: 45px;
    border: none;
    background: #EE2B7A;
    border-radius: 4px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: white;
}
#newact{
    position: relative;
    width: 172px;
    height: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #F8F5F5;
    margin: 10px 0;
}
#newact > a{
    color: #EE2B7A;
    font-style: normal;
    text-decoration: none;
}
.news > img{
    width: 88%;
}
.aboutus{
    padding: 3%;
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    margin: 80px 0;

}
.aboutustxt{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    /* align-items: center; */
}
.aboutus > img{
    width: 50%;
    height: auto;
}
.title{
    position: relative;
    /* width: 160px; */
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 154.7%;
    text-transform: uppercase;
    color: #995AAA;
    margin: 0;
}
#aboutushead{
    position: relative;
    /* width: 214px; */
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 154.7%;
    color: #474747;
    margin: 0;
}
.aboutuscntt{
    position: relative;
    width: 75%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    color: #000000;
}
.services{
    width: 100%;
    height: fit-content ;
    margin: 15px 0; 
    margin-bottom: 250px;
}
.servicehead{
    position: relative;
    width: 100%;
    height: 22px;    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 154.7%;
    text-align: center;
    text-transform: uppercase;
    color: #995AAA;
    margin: 0;
}
#servicesubhead{
    margin: 0;
    position: relative;
    width: 100%;
    text-align: center;
    height: 62px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 154.7%;
    color: #474747;
    margin-bottom: 30px;
}
.toolbox{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.servicebox{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 22%;
    height: 377px;
    background: #FFFFFF;
    box-shadow: 2px 4px 26px rgba(0, 0, 0, 0.07);
    align-items: center;
    justify-content: center;
}
.serviceimg{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 106px;
    height: 106px;
    background: #772D8B;
}
.servicehd{
    position: relative;
    background: #FFFFFF;
}
.servicetxt{
    position: relative;
    height: 102px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    color: #000000;
    width: 85%;
}
.workflowcntt{
    position: absolute;
    width: 100%;
}
.workflow{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: rgba(57, 7, 70, 0.74);
    mix-blend-mode: multiply;
    background-image: url(workflow.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
}
.wfhead{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head{
    position: relative;
    width: 86px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 154.7%;
    text-transform: uppercase;
    color: #D2CECE;
    margin: 0;
}
.subhead{
    position: relative;
    width: 231px;
    height: 62px;    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 154.7%;
    margin: 0;
    color: #FFFFFF;
}
.workflowing{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.workflowimg{
    position: relative;
    bottom: 8.33%;
    width: min-content;
    height: auto;
    border-radius: 50%;
    border: 5px solid #EE2B7A;
    padding: 35.5px;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 20%;
}
.boxhd{
    position: relative;
    width: fit-content;
    height: 28px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 154.7%;
    color: #FFFFFF;
    text-transform: capitalize;
}
.boxtxt{
    position: relative;
    width: 204px;
    height: 62px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    text-align: center;
    color: #FFFFFF;
}
.testimony{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 70px 0;
}
.testhead{
    position: relative;
    width: 92px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 154.7%;
    color: #995AAA;
    text-transform: uppercase;

}
.testsubhead{
    position: relative;
    width: 247px;
    height: 62px;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 154.7%;
    color: #474747;
    margin: 20px 0 30px;
}
.testimonybox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    width: 324px;
    height: 377px;
    background: #FFFFFF;
    border: 1px solid #F9F9F9;
    box-sizing: border-box;
    box-shadow: 13px 24px 44px rgba(0, 0, 0, 0.07);
    padding: 50px;
}
.client{
    border-radius: 50%;
}
.images{
   margin: 0;
   display: flex;
   flex-direction: row;
   max-width: 100%; 
   align-items: center;
   justify-content: center
}
.images > img{
    width: 20%;
    height: auto;
    margin: 10px;
}
.clienttestimony{
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    color: #000000;
}
.testimonials{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.news{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}
.newshead{
    position: relative;
    width: 273px;
    height: 62px;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 154.7%;
    color: #474747;
    margin: 20px 0 10px;
}
#newssub{
    position: relative;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
    color: #000000;
    
}
.stuff{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
}
.stuff > div{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    justify-content: center;
}
.stuff > div > p{
    text-align: center;
    position: relative;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
}
.stuff > div > img{
    width: 100%;
}
.video{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(truck.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 433px;
    display: flex;
    flex-direction: column;
}
#videotxt{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    line-height: 154.7%;
}
#startvid{
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 154.7%;
    margin: 15px 0;
}
.play{
    padding: 40px;
    border-radius: 50%;
    background: white;
    border: 10px solid rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.playbutton{
    position: relative;
    background-color: #fff;
}
.clients{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    top: 360px;
    margin: 40px 0;
    height: fit-content;
}
.clients > img{
    /* position: relative; */
    width: 100%;
    height: auto;
}
.ourclients{
    position: relative;
    width: 201px;
    height: 62px;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 154.7%;
    color: #474747;
    margin: 50px 0;
}
.footer{
    bottom: 0;
    background: #333333;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
    position: relative;
    color: #FFFFFF;
    margin-top: 70px;
}
.footer > div{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.footer > div >p{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 154.7%;
}
#end{
    width: 100%;
    text-align: center;
    color:  #474747;
    margin: 10px 0;
}
.divhead{
    font-weight: 600;
    font-size: 18px;
    line-height: 154.7%;
    margin: 20px 0;
}
.date{
    border-bottom: 1px solid white;
}
.pictxt{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pictxt > img{
    margin-right: 10px;
    width: min-content;
    height: min-content;
}
@media screen and (max-width: 768px) {
    .login{
        height: fit-content;
    }
    .img{
        width: 10%;
    }
    #newssub{
        font-size: 16px;
    }
    .headertxt{
        width: 60%;
    }
    .section2{
        flex-direction: column;
        padding: 30px;
    }
    .caption{
        text-align: center;
        margin-bottom: 10px;
    }
    .caption > h1{
        font-size: 64px;
    }
    .caption > p{
        font-size: 30px;
        line-height: 25px;
    }
    .aboutus{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .aboutustxt{
        width: 100%;
    }
    .title{
        font-size: 26px;
    }
    #aboutushead{
        font-size: 52px;
    }
    .aboutuscntt{
        font-size: 18px;
    }
    .aboutus > img {
        width: 100%;
    } 
    .toolbox{
        flex-wrap: wrap;
    }
    .servicebox{
        width: 40%;
        margin: 20px 0;
    }
    .workflow{
        height: 666px;
    }
    .workflowing{
        flex-wrap: wrap;
    }
    .box{
        width: 50%;
        margin: 20px 0;
    }
    .bg{
        width: 150%;
        height: auto;
    }
    .testimonials{
        flex-wrap: wrap;
    }
    .testimonybox{
        margin: 20px 0;
    }
    .testhead{
        font-size: 18px;
    }
    .footer{
        flex-wrap: wrap;
    }
    .footer > div{
        width: 40%;
    }
    .stuff{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .stuff > div{
        width: 75%;
        margin: 20px 0;
    }
    .stuf > div > p{
        font-size: 18px;
    }
    .images{
        flex-wrap: wrap;
    }
    .images > img{
        width: 14.3%;
        height: auto;
    }
}
@media screen and (max-width: 375px) {
    .servicebox{
        width: 80%;
    }
    .box{
        width: 80%;
    }
    .workflow{
        height: 1200px;
    }
    .stuff > div{
        width: 80%;
    }
    #videotxt{
        font-size: 25px;
    }
    .images{
        flex-direction: column;
    }
    .images{
        flex-wrap: wrap;
    }
    .images > img{
        width: auto;
    }
    .footer > div{
        width: 60%;
    }
}